/*顶部标题容器*/
.top-title-des-header-container:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*顶部标题容器*/
.top-title-des-header-container {
    height: 1%;
    margin-bottom: 10px;
    *zoom: 1;
}

/*顶部标题内容时间*/
.top-title-des-header-time {
    float: left;
}

/*顶部标题内容说明*/
.top-title-des-header-des {
    float: right;
    cursor: pointer;
}
