.clerk_sale_title{
    margin-bottom:20px
}
.clerk_charts_box{
    display:flex;
    justify-content:space-between;
    .line{
        width:2%
    }
    .line_tu{
        width:49%
    }
    .pie_tu{
        width:49%
    }
}