/*图表容器*/
.charts-container {
    position: relative;
}

/*图片容器内部的时间选择器*/
.charts-container .ant-picker-range {
    width: 290px;
}

/*图片内部的切换选择按钮选中*/
.charts-container-switch-y {
    width: 50%;
    background: #35bab0;
    float: left;
    height: 32px;
    color: #fff;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

/*图片内部的切换选择按钮未选中*/
.charts-container-switch-n {
    width: 50%;
    background: #fff;
    float: left;
    height: 32px;
    color: #666;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}
