.qtoolOms-condition {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;

  .serach-common-form {
    .ant-form-item-control-wrapper {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      vertical-align: middle;
    }

    .ant-legacy-form-item-control-wrapper {
      display: inline-block;
      height: 35px;
      line-height: 35px;
      vertical-align: middle;
    }

    .ant-form-item-control {
      line-height: 35px;
      width: 180px;
    }

    .ant-input {
      width: 180px;
    }

    .ant-calendar-picker-input {
      width: 290px
    }

    .ant-picker-range {
      width: 315px;
    }

    .ant-select-selection--single {
      width: 180px;
    }

    .ant-cascader-picker {
      width: 180px;
    }

    //antd4.0
    .ant-select-single {
      width: 180px;
    }

    .ant-select-selection--multiple {
      width: 200px;
    }

    .ant-form-item-label {
      width: 90px;
      height: 35px;
      line-height: 35px;
    }

    //4.0
    .ant-legacy-form-item-label {
      width: 90px;
      height: 35px;
      line-height: 35px;
    }
  }

  .oms-condition-operate {
    text-align: right;
  }

  .select_multiple {
    .ant-form-item-control {
      width: 200px;
    }

    //4.0
    .ant-legacy--form-item-control {
      width: 200px;
    }
  }
}

.qtoolOms-condition .serach-common-form .ant-picker-range {
  width: 200px;
}