.discountTwo {
    border:1px solid #efefef;
    padding:15px;
    .discount_tips{
      line-height: 2;
      padding:0 5px;
      background:#f2f2f2;
      margin-bottom:5px;
    };
    .step {
      border: 1px solid #efefef;
      padding: 5px 20px 5px 20px;
      margin-bottom:20px;
      display:flex;
      justify-content:space-between;
      align-items: center
    }
    .ant-form-item-label {
      width: 100px;
    }
    .ant-form-item-control-wrapper {
      display: inline-block;
    }
    .satified_price {
      display: inline-block;
      margin-bottom:0px;
    }
    .reduce_price {
      margin-bottom:0px;
      display: inline-block;
    }
    .discountTwo_add{text-align:right}
  }
  