<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>页面配置详情</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./jquery.3.3.1.min.js"></script>
    <link rel="stylesheet" href="./config.css">
</head>
<body>
<div id='root'>
  <div v-for="(item,index) in list">
    <img class='banner' :src=" baseImgUrl + item.text " alt="" v-show='item.type==1'>
    <div class='good' v-if='item.type==2 && item.template==1'>
      <div class='content'>
        <img class='img1' :src=" baseImgUrl + item.pdSpu.url " alt="">
        <div class='center'>
          <p class='name1'>{{item.pdSpu.name}}</p>
          <div>
            <span class='price'><span class='remark'>￥</span>{{item.pdSpu.price}}</span>
            <button class='buy-btn'>立即购买</button>
          </div>
        </div>
      </div>
    </div>
    <div class='db-good' v-if='item.type==2 && item.template==2'>
      <div class='box'>
        <img class='img' :src="baseImgUrl + item.pdSpu.url" alt="">
        <p class='tit'>{{item.pdSpu.name}}</p>
        <p class='price'><span class='remark'>￥</span>{{item.pdSpu.price}}</p>
      </div>
      <div class='box'>
        <img class='img' :src="baseImgUrl + item.rowPdSpu.url" alt="">
        <p class='tit'>{{item.rowPdSpu.name}}</p>
        <p class='price'><span class='remark'>￥</span>{{item.rowPdSpu.price}}</p>
      </div>
    </div>
    <div class='text' v-if='item.type==3'>
      {{item.text}}
    </div>
    <div class='rule' v-if='item.type==4'>
      <p class='tit'>活动规则明细</p>
      <ul>
        <li>{{item.text}}</li>
      </ul>
    </div>
  </div>
</div>
<script>
  const app = new Vue({
    el: '#root',
    data: {
      params:{},
      baseImgUrl:'https://qtltestfiles.oss-cn-shanghai.aliyuncs.com/',
      list: []
    },
    methods:{
      getParmas(){
        var url = window.location.href;
        var arys = url.split('?');
        var params = {};
        arys[1].split('&').map(item=>{
          var pars = item.split('=');
          params[pars[0]] = pars[1];
        });
        this.params = params;
      },
      getData(){
        const vm = this;
        vm.getParmas();
        $.ajax({
          url:'/qtoolsApp/toCconfiguration/page/detail/'+vm.params.configureCode,
          type:'get',
          // data:vm.params,
          dataType:'json',
          contentType:'application/json',
          success(res){
            vm.list = res.result;
          },
          error(err){
            console.log(err)
          },
        });
      }
    },
    mounted(){
      this.getData();
    }
  });
</script>
</body>
</html>
